h1{
    font-family:sans-serif;
}
.description, #sobre{
    top: 70%;
    left: 2px;
    text-align:center;
    right: 2px;
    padding:20px 20px;
    padding: 30px 30px;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding: 4%;
    display: inline-block;
    max-width: 80%;
    margin: 40px auto;
    border-radius: 20px;
}
#city-natal{
    font-style: italic;
}
#city-moor{
    font-style: unset;
}
.persistente{
    font-size: 20px;
}
.crítico{
    font-size: 15px;
}
.adaptabilidade{
    font-size: 20px;
}
.flexivel{
    font-size: 18px;
}
#habilidades, #link-interno{
    background-color: rgba(177, 163, 158, 0.794);
}
.nome{
    text-align: center;
    font-style: italic;
}
#foto{
    border-radius: 10%;
    float: left;
    height: 170px;
    padding: 10px;
    background-color:rgb(75, 173, 212);
}
.image{
    height: 190px;  
    
}
article{
    display: inline-block;
    padding: 10px 10px;
}
footer{
    width: 250px;
    border-top: 50px;
    display: inline-block;
}
a{
    text-decoration: none;
}
#link-foto{
    margin-top: 50px;
}
main{
    display: inline-block;
}
div{
    display: inline-block;
}
