h1{
    font-family:sans-serif;
}
.description{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 50%;
    position:relative;
    left: 2px;
    text-align:justify;
    right: 2px;
}
body{
    background-color:rgba(171, 199, 179, 0.981);
    font-family: 'Montserrat', sans-serif;
    padding: 4%;
}
#city-natal{
    font-style: italic;
}
#city-moor{
    font-style: unset;
}
.persistente{
    font-size: 20px;
}
.crítico{
    font-size: 15px;
}
.adaptabilidade{
    font-size: 20px;
}
.flexivel{
    font-size: 18px;
}
#habilidades, #link-interno{
    background-color: rgba(177, 163, 158, 0.794);
}
.nome{
    text-align: center;
    font-style: italic;
}
#foto{
    border-radius: 10%;
    float: left;
    height: 170px;
    padding: 10px;
    background-color:blue;
}
.image{
    height: 190px;  
    
}
