h1{
    font-family:sans-serif;
}
#nascimento{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}
body{
    background-color:rgb(195, 206, 207);
    font-family: 'Montserrat', sans-serif;
}
#city-natal{
    font-style: italic;
}
#city-moor{
    font-style: unset;
}
.persistente{
    font-size: 20px;
}
.crítico{
    font-size: 15px;
}
.adaptabilidade{
    font-size: 20px;
}
.flexivel{
    font-size: 18px;
}
#habilidades, #link-interno{
    background-color: rgba(150, 122, 113, 0.794);
}
#nome{
    text-align: center;
    font-style: italic;
}
#foto{
    border-radius: 10%;
}
div{
    text-align: center;
}