.color .selected{
    border-top: 0px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    height: 50px;
    width: 50px;
    }
    body{
    background-color: rgb(16, 149, 51);
    text-align: center;
    }
    .pixel{
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black;
    padding: 2px 2px 2px 2px;
    border-radius: 2%;
    }
    #color-palette{
    display: inline-block;
    text-align: center;
    /* margin-left: 438px; */
    }
    input{
    width: 70px;
    }
    /* section{
    display:inline-block;
    } */
    header{
    text-align: center;
    }
    section{
    text-align: center;
    }
    #pixel-board{
    padding: 2px 2px 2px 2px;
    border-radius: 2%;
    border: 4px solid burlywood;
    background-color: rgb(71, 71, 65);
    background-image: url("image/5dbdd9165ad64f5e29811c52_BRAND3.png");
    }
    